.link-menu {
    color: black;
}


.topbar-profile-photo {
    width: 1.5em; 
    height: 1.5em; 
    position: relative;
}



.post-profile-photo {
    width: 46px; 
    height: 46px; 
    position: relative; 
    border-width: 2px !important;
}

.sidenav-profile-photo {
    width: 56px; 
    height: 56px; 
    position: relative; 
}

.comment-box {
    border-top: 1px solid lightgray;
}

.input-post {
    outline: none;
}

.btn-ig {
    background-color: transparent;
    border: 0;
    color: #007bff;
    font-weight: 600;
    right: 0;
    bottom: 0;
    top: 0;
    outline: none !important;
}
.card{
    background-color: #F2D7D9;
}



.profile-info {
    font-size: 14px;
}

.profile-info-username {
    display: block;
    font-weight: 700;
}

.sugest-profile-photo {
    width: 46px; 
    height: 46px;  
    position: relative;
}

.sugest-username {
    font-size: 14px
}
b,p,span{
    font-size: 20px;
    padding-left: 5px;
}
strong{
    font-size: 20px;
    padding-left: 5px;
}
small{
    padding-left: 5px;
}
.btn {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.btn:hover{
    color:red;
}
.bi-heart{
    padding-left: 5px;
    font-size: 20px;
}

